nav{
  background-color: #343a40;
}
#paginationNav{
  background: none;
  display: flex;
  justify-content: end;
}
.tableOp{
  font-size: 30px;
}
table tbody{
  font-weight: normal;
}

#imgForm{
  width: 100%;
  border-radius: 10px;
}

.inputs{
  margin-top: 10px;
}

#txtArea{
  height: 200px;
  resize: none;
}
