.main{
  padding: 20px;
}
h2{
  font-size: 2rem;
}
.imgBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBook{
  width: 60%;
  max-height: 600px;
}

.author{
  font-weight: 700;
}

.infoUl{

  margin-top: 10px;
}

.info{
  display: flex;
  flex-flow: column; 
  padding-top: 10px;
  padding-bottom: 15px;
  list-style: none;
  border-width: 2px;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #c6c6c6;
}

.info span{
  font-weight: 600;
  color: #222;
} 

.info > div{
  margin-top: 5px;
}

.desc{
  width: 75%;
  flex-flow: column;
  padding-inline: 30px;
  max-width: 1500px;
  margin-top: 30px;
  text-align: justify;
}

.desc h3{
  text-align: left;
}
