main{
}

.main{
  padding: 20px;
}

.imgBook{
  width: 100%;
}

.author{
  font-weight: 700;
}

.infoCard{
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.infoCard span{
  font-size: 5rem;
  font-weight: 700;
  color: white;
}

.infoCard p{
  font-size: 1.5rem;
  color: #f6f6f6;
}

.desc{
  width: 100%;
  flex-flow: column;
  padding-inline: 30px;
  max-width: 1500px;
  margin-top: 30px;
}
.desc h3{
  text-align: left;
}
