#firstView{
  height: 100vh;
  flex-flow: column;
  background: url('https://images.unsplash.com/photo-1562932831-afcfe48b5786?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1215&q=80') no-repeat;
  background-size: cover;
  margin-top: 0;
}

#firstView form{
  width: 30%;
  margin-top: 20px;
}

#firstView form input{
  text-align: center;
  border-radius: 15px;
  height: 50px;
  width: 100%;
  border: none;
  font-size: 20px;
  padding-inline: 15px;
  background: #f8f8f8ff;
}

h1{
  font-size: 3.6rem;
  font-weight: 70vh;
  text-shadow: 1px 1px black;
}

section{
  height: 90vh;
  overflow: hidden;
  padding: 20px;
  padding-top: 60px;
  margin-top: 4em;
  max-width: 1400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.secTitle{
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.added{
  padding: 20px;
}

.added .added-title{
  color: var(--bs-primary);
  font-size: 6rem;
  font-weight: 700;
  font-style: italic;
}

.added .added-info{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.added .added-info p{
  text-indent: 30px;
  margin-top: 10px;
  text-align: justify;
}

.added .added-info ul{
  align-self: start
}
.added .added-info ul{
  color: var(--bs-dark);
  font-size: 1.3rem;
  font-style:italic ;
}

.added-books{
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-columns: 30% 30%;
  grid-template-rows: 50% 50%;
}

.bookAdded{
  height: 100%;
  width: 100%;
  color: transparent;
}
.bookAdded div{
  color: transparent;
}

.bookAdded div img,
.bookAdded div{
  height: 100%;
  width: 100%;
}
.bookAdded div a{
  color: var(--bs-info);
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  border-radius: 4px;
  border-color: var(--bs-info);
  border-width: 1px;
  border-style: solid;
  display: none;
}

.bookAdded div:hover{
  color: var(--bs-white);
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(5px);
  transition: 0.5s;
}
.bookAdded div:hover .card-img-overlay a{
  display: block;
}

.card-img-overlay a:hover{
  color: var(--bs-white);
  background: var(--bs-info);
}


.account{
  background: url('https://images.unsplash.com/photo-1529148482759-b35b25c5f217?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  width: 100%;
  max-width: 100%;
}

.account .info{
  padding: 30px;
  border-radius: 10px;
  background-color: #f3f3f38a;
  backdrop-filter: blur(2px);
  flex-flow: column;
}
.account .info h3{
  color: var(--bs-primary);
  font-weight: 700;
}
 
.account .icon{
  font-size: 6rem;
  color: var(--bs-dark);
}

.about-img{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding:10px 
}

.about-img img{
  border-radius: 10px;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.about-info{
  padding-inline: 30px;
 flex-flow: column; 
}

.about-info hr{
  width: 52%;
}

.about-info h3{
  color: var(--bs-primary);
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
}

.about-info p{
  align-self: start;
  text-align: justify;
  text-indent: 15px;
}

